.wd-more-tab {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.wd-more-text {
    position: relative;
    left: -10px;
}

@media (min-width: 992px)
and (max-width: 1200px) {
    #tuit-button {
        width: 130%!important;
    }
}

.wd-search-tuiter {
    bottom: 7px;
    left: 10px;
}

.wd-active {
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: solid 5px rgb(29, 161, 242)!important;
}

.wd-position-text-over-image {
    bottom: 0;
    left: 10px;
}

.wd-border-color {
    border: solid 1px rgb(47, 51, 54)!important;
}
