.wd-center-content {
    width: 600px;
    margin: auto;
}

h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 12px;
}

h3 {
    font-size: 15px;
    margin: 12px 12px 0;
    width: 480px;
}

h4 {
    font-size: 15px;
    margin: 0 12px 12px;
    width: 480px;
    font-weight: normal;
}

h5, p {
    font-size: 15px;
    margin-top: 12px;
}

h6 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 12px;
    margin-left: 5px;
}

ul {
    margin-top: 0;
    padding: 0;
}

li span {
    margin-left: 12px;
}

.wd-font-color {
    color: lightgray;
}

#title-handle {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 12px;
    font-size: 13px;
}

.wd-border {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 0 0 1px 0;
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
    margin-top: 12px;
    margin-right: 12px;
}

.wd-post-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 504px;
    height: 264px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(47, 51, 54);;
}

.wd-padding {
    padding-left: 75px;
}

.wd-grid-col-avatar {
    float: left;
}

.wd-grid-col-author {
    float: left;
    margin-bottom: 0;
}

.wd-content {
    max-width: 506px;
    margin-right: 16px;
    margin-bottom: 12px;
}

.wd-img-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);;
    border-radius: 20px;
    width: 504px;
    height: 100%;
}

.wd-icons {
    margin-top: 12px;
}

.wd-icon-tabs li {
    list-style-type: none;
    display: inline-block;
    margin-left: 80px;
}

li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.wd-highlight-color {
    color: red;
}
