.wd-center-content {
    width: 600px!important;
    margin: auto!important;
}

.wd-bg-color {
    background-color: rgb(6,6,6)!important;
}

.wd-offset {
    margin-left: 16px;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
}

.wd-post-border {
    border-width: 0 0 1px 0!important;
}

h6 {
    font-size: 13px;
}

p {
    font-size: 12px;
}

.wd-padding {
    padding-left: 75px;
}

.wd-avatar {
    width: 48px;
    float: left;
}

.wd-grid-col-author {
    float: left;
}

.wd-content-width {
    width: 100%;
}

.wd-post-image-with-description {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

.wd-post-image-description {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.wd-post-image-without-description {
    border-radius: 20px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

.wd-buttons-size {
    font-size: 13px;
}

.wd-buttons-width {
    width: 85%;
}
