/*------------------------------Discarded------------------------------*/
.wd-post-image-without-description {
  border-radius: 20px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.wd-center-content {
  width: 600px!important;
  margin: auto!important;
}

.wd-bg-color {
  background-color: rgb(6,6,6)!important;
}

.wd-offset {
  margin-left: 16px;
}

.wd-post-border {
  border-width: 0 0 1px 0!important;
}

.wd-title-size {
  font-size: 14px;
}

.wd-image-description-size {
  font-size: 12px;
}

.wd-padding {
  padding-left: 75px;
}

.wd-avatar {
  width: 48px;
  float: left;
}

.wd-grid-col-author {
  float: left;
}

.wd-content-width {
  width: 100%;
  float: right;
}

.wd-post-image-with-description {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.wd-post-image-description {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.wd-buttons-width {
  width: 85%;
}

.wd-buttons-size {
  font-size: 13px;
}
/*------------------------------Application------------------------------*/
.wd-bg-color {
  background-color: rgb(6,6,6)!important;
}

.wd-clear-button-styling {
  background-color: rgb(6,6,6);
  border: 0;
}

a, a:link, a:hover, a:visited {
  text-decoration: none !important;
}
/*------------------------------Explore Screen------------------------------*/
.wd-explore-search-nudge-up {
  bottom: 7px;
  left: 15px;
}

.wd-explore-text-nudge-up {
  bottom: 0;
  left: 5px;
}
/*------------------------------Profile Screen------------------------------*/
.wd-profile-nudge-up {
  top: -100px;
  left: 20px;
}

.wd-profile-nudge-down {
  top: 120px;
}

.wd-circle-x-banner-overlap {
  left: 330px;
  top: -150px;
  color: black;
  font-size: 50px;
}

.wd-x-banner-overlap {
  left: 330px;
  top: -150px;
  color: white;
  font-size: 50px;
}

.wd-circle-camera-banner-overlap {
  left: 270px;
  top: -150px;
  color: black;
  font-size: 50px;
}

.wd-camera-banner-overlap {
  left: 280px;
  top: -142px;
  color: white;
  font-size: 30px;
}

.wd-circle-avatar-overlap {
  left: 95px;
  top: -30px;
  color: black;
  font-size: 50px;
}

.wd-camera-avatar-overlap {
  left: 105px;
  top: -22px;
  color: white;
  font-size: 30px;
}